dashboard/.flows.json.backup
[
    {
        "id": "67626f61946a4f0c",
        "type": "tab",
        "label": "mqtt in",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "989208b4e6f620f2",
        "type": "tab",
        "label": "mqtt out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d3c62a13ea8dab4",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcca7bd820d2c27d",
        "type": "tab",
        "label": "console",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "weather 1",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "b86ff763183da0bc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ede52c32b977504",
        "type": "ui_group",
        "name": "LNA",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2407b792d0735c22",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1a14940ed1822988",
        "type": "ui_group",
        "name": "console",
        "tab": "2407b792d0735c22",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22a8daeb9ea3f8c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "586114dd1fea9780",
        "type": "ui_group",
        "name": "weather 2",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93995bbe7b0de3be",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "bingo-database",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de6a61748bb43fc2",
        "type": "ui_spacer",
        "z": "67626f61946a4f0c",
        "name": "spacer",
        "group": "9ede52c32b977504",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "bae3d674b57c9a95",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "e887dd774dccdd8c",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "162d1ef83090f8be",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "39029ceb138f77d4",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "temperature C",
        "group": "586114dd1fea9780",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "weather °C",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "70",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c64600",
            "#aec7e8",
            "#c64600",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e912889a2a9dd425",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "humidity G",
        "group": "61285987.c20328",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "60",
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "b90f022e1974b858",
        "type": "mqtt in",
        "z": "67626f61946a4f0c",
        "name": "sensors",
        "topic": "esp32/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "d6aa561de61ba2b3",
                "8acc496f5f91504f"
            ]
        ]
    },
    {
        "id": "24f3cc95a98a5658",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get [0]",
        "func": "msg.topic = \"temperature\";\nmsg.payload = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "39029ceb138f77d4",
                "bae3d674b57c9a95",
                "5834e4af7bd65f60"
            ]
        ]
    },
    {
        "id": "a88c819860282fee",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "49e273b23927da12",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "LNA voltage C",
        "group": "9ede52c32b977504",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "LNA voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "3.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a51d2d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "758b1069134cd75c",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get [1]",
        "func": "msg.topic = \"humidity\";\nmsg.payload = msg.payload[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "e912889a2a9dd425",
                "e887dd774dccdd8c",
                "2ca31d9e2a60dd24"
            ]
        ]
    },
    {
        "id": "098d48bcb9de5d17",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get [2]",
        "func": "msg.topic = \"heat index\";\nmsg.payload = msg.payload[2];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "162d1ef83090f8be",
                "7ee806e9ad9a7c39",
                "39029ceb138f77d4"
            ]
        ]
    },
    {
        "id": "bd882f8640dab225",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get [3]",
        "func": "msg.topic = \"LNA voltage\";\nmsg.payload = msg.payload[3];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "49e273b23927da12",
                "a88c819860282fee",
                "7acd31657fc0ee48"
            ]
        ]
    },
    {
        "id": "d6aa561de61ba2b3",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "split",
        "func": "msg.payload = msg.payload.split(',');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 280,
        "wires": [
            [
                "24f3cc95a98a5658",
                "758b1069134cd75c",
                "098d48bcb9de5d17",
                "bd882f8640dab225"
            ]
        ]
    },
    {
        "id": "8acc496f5f91504f",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "5834e4af7bd65f60",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "temperature G",
        "group": "61285987.c20328",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#1f77b4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "27",
        "className": "",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ca31d9e2a60dd24",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "humidity C",
        "group": "586114dd1fea9780",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "humidity %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7ee806e9ad9a7c39",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "heat index G",
        "group": "61285987.c20328",
        "order": 5,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "heat index",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#1f77b4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "27",
        "className": "",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "7acd31657fc0ee48",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "LNA voltage G",
        "group": "9ede52c32b977504",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "LNA voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.5",
        "colors": [
            "#e6e600",
            "#ca3838",
            "#00b500"
        ],
        "seg1": "1",
        "seg2": "2.7",
        "className": "",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "54accdb3e9d0ba71",
        "type": "mqtt out",
        "z": "989208b4e6f620f2",
        "name": "",
        "topic": "esp32/LNA_control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "22a8daeb9ea3f8c4",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "426fab9220bffc4d",
        "type": "ui_switch",
        "z": "989208b4e6f620f2",
        "name": "",
        "label": "LNA control",
        "tooltip": "",
        "group": "9ede52c32b977504",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "54accdb3e9d0ba71",
                "da108b092ccb182e"
            ]
        ]
    },
    {
        "id": "da108b092ccb182e",
        "type": "debug",
        "z": "989208b4e6f620f2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "c4eaf8a8d6143bf9",
        "type": "mqtt in",
        "z": "3d3c62a13ea8dab4",
        "name": "sensors",
        "topic": "esp32/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "3201aefd07e4dfef"
            ]
        ]
    },
    {
        "id": "b1988ee5158e828f",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "sql return",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfe0192337985a5a",
        "type": "mysql",
        "z": "3d3c62a13ea8dab4",
        "mydb": "93995bbe7b0de3be",
        "name": "bingo database",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "88697d6ca572038f"
            ]
        ]
    },
    {
        "id": "6b79612a23573811",
        "type": "inject",
        "z": "3d3c62a13ea8dab4",
        "d": true,
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "053211e4c82e3e1e"
            ]
        ]
    },
    {
        "id": "88697d6ca572038f",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "sql return",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "053211e4c82e3e1e",
        "type": "function",
        "z": "3d3c62a13ea8dab4",
        "name": "sql insert",
        "func": "var time = new Date();\n\nvar sql_insert = \"\";\nsql_insert += \"INSERT INTO sensors_read VALUE (\";\nsql_insert += time.getTime();\nsql_insert += \", \\\"\";\nsql_insert += time;\nsql_insert += \"\\\", 24.40, 59.70, 24.45, 3.0);\";\n\nmsg.topic = sql_insert;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 380,
        "wires": [
            [
                "b0b0011326e2aa41",
                "bfe0192337985a5a"
            ]
        ]
    },
    {
        "id": "b0b0011326e2aa41",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "15393ca36e9e6f2f",
        "type": "mysql",
        "z": "3d3c62a13ea8dab4",
        "mydb": "93995bbe7b0de3be",
        "name": "bingo database",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "b1988ee5158e828f"
            ]
        ]
    },
    {
        "id": "3201aefd07e4dfef",
        "type": "function",
        "z": "3d3c62a13ea8dab4",
        "name": "sql insert",
        "func": "var time = new Date();\n\nvar sql_insert = \"\";\nsql_insert += \"INSERT INTO sensors_read VALUE (\";\nsql_insert += time.getTime();\nsql_insert += \",\\\"\";\nsql_insert += time;\nsql_insert += \"\\\",\";\nsql_insert += msg.payload;\nsql_insert += \");\";\n\nmsg.topic = sql_insert;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 160,
        "wires": [
            [
                "544f6058de2a1d10",
                "15393ca36e9e6f2f"
            ]
        ]
    },
    {
        "id": "544f6058de2a1d10",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "bb9dd909d9de3f3f",
        "type": "mqtt in",
        "z": "bcca7bd820d2c27d",
        "name": "esp32 debug",
        "topic": "esp32/debug",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "9bb54d766b681ac1",
                "f54930693baea2e3"
            ]
        ]
    },
    {
        "id": "f54930693baea2e3",
        "type": "debug",
        "z": "bcca7bd820d2c27d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "9bb54d766b681ac1",
        "type": "ui_text",
        "z": "bcca7bd820d2c27d",
        "group": "1a14940ed1822988",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "debug",
        "label": "console",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 240,
        "wires": [],
        "icon": "font-awesome/fa-desktop"
    }
]