dashboard/flows.json
[
    {
        "id": "67626f61946a4f0c",
        "type": "tab",
        "label": "mqtt in",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "989208b4e6f620f2",
        "type": "tab",
        "label": "mqtt out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d3c62a13ea8dab4",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcca7bd820d2c27d",
        "type": "tab",
        "label": "console",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "weather 1",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "BINGO dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b86ff763183da0bc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ede52c32b977504",
        "type": "ui_group",
        "name": "LNA",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2407b792d0735c22",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1a14940ed1822988",
        "type": "ui_group",
        "name": "console",
        "tab": "2407b792d0735c22",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22a8daeb9ea3f8c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "586114dd1fea9780",
        "type": "ui_group",
        "name": "weather 2",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93995bbe7b0de3be",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "bingo-database",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de6a61748bb43fc2",
        "type": "ui_spacer",
        "z": "67626f61946a4f0c",
        "name": "spacer",
        "group": "9ede52c32b977504",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "39029ceb138f77d4",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "temp/indx",
        "group": "586114dd1fea9780",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Weather",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "70",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c64600",
            "#aec7e8",
            "#c64600",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e912889a2a9dd425",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "humidity",
        "group": "61285987.c20328",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "className": "",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "b90f022e1974b858",
        "type": "mqtt in",
        "z": "67626f61946a4f0c",
        "name": "sensors read",
        "topic": "esp32/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "758b1069134cd75c",
                "098d48bcb9de5d17",
                "bd882f8640dab225",
                "24f3cc95a98a5658",
                "b4001990e063a16f"
            ]
        ]
    },
    {
        "id": "24f3cc95a98a5658",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get temp",
        "func": "msg.topic = \"temperature\";\nmsg.payload = msg.payload.split(',')[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "95c23964ed3f1969"
            ]
        ]
    },
    {
        "id": "49e273b23927da12",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "LNA voltage",
        "group": "9ede52c32b977504",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "LNA voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "3.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a51d2d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "758b1069134cd75c",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get humi",
        "func": "msg.topic = \"humidity\";\nmsg.payload = parseInt(msg.payload.split(',')[1]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "84585fb18f4dafdf"
            ]
        ]
    },
    {
        "id": "098d48bcb9de5d17",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get indx",
        "func": "msg.topic = \"heat index\";\nmsg.payload = parseInt(msg.payload.split(',')[2]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "1e80f54e4236dfd1"
            ]
        ]
    },
    {
        "id": "bd882f8640dab225",
        "type": "function",
        "z": "67626f61946a4f0c",
        "name": "get volt",
        "func": "msg.topic = \"LNA voltage\";\nmsg.payload = parseInt(msg.payload.split(',')[3]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "667e8bed512f90cf"
            ]
        ]
    },
    {
        "id": "5834e4af7bd65f60",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "temperature",
        "group": "61285987.c20328",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#1f77b4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "2ca31d9e2a60dd24",
        "type": "ui_chart",
        "z": "67626f61946a4f0c",
        "name": "humidity",
        "group": "586114dd1fea9780",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for new data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7ee806e9ad9a7c39",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "heat index",
        "group": "61285987.c20328",
        "order": 5,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Heat index",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#1f77b4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "7acd31657fc0ee48",
        "type": "ui_gauge",
        "z": "67626f61946a4f0c",
        "name": "LNA voltage",
        "group": "9ede52c32b977504",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "LNA voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.5",
        "colors": [
            "#e6e600",
            "#ca3838",
            "#00b500"
        ],
        "seg1": "1",
        "seg2": "2.7",
        "className": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "95c23964ed3f1969",
        "type": "smooth",
        "z": "67626f61946a4f0c",
        "name": "reduce points",
        "property": "payload",
        "action": "mean",
        "count": "15",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "5834e4af7bd65f60",
                "39029ceb138f77d4"
            ]
        ]
    },
    {
        "id": "84585fb18f4dafdf",
        "type": "smooth",
        "z": "67626f61946a4f0c",
        "name": "reduce points",
        "property": "payload",
        "action": "mean",
        "count": "15",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "2ca31d9e2a60dd24",
                "e912889a2a9dd425"
            ]
        ]
    },
    {
        "id": "1e80f54e4236dfd1",
        "type": "smooth",
        "z": "67626f61946a4f0c",
        "name": "reduce points",
        "property": "payload",
        "action": "mean",
        "count": "15",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "7ee806e9ad9a7c39",
                "39029ceb138f77d4"
            ]
        ]
    },
    {
        "id": "667e8bed512f90cf",
        "type": "smooth",
        "z": "67626f61946a4f0c",
        "name": "reduce points",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "2",
        "mult": "single",
        "reduce": true,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "49e273b23927da12",
                "7acd31657fc0ee48"
            ]
        ]
    },
    {
        "id": "b4001990e063a16f",
        "type": "debug",
        "z": "67626f61946a4f0c",
        "name": "raw data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "54accdb3e9d0ba71",
        "type": "mqtt out",
        "z": "989208b4e6f620f2",
        "name": "LNA control",
        "topic": "esp32/LNA_control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "22a8daeb9ea3f8c4",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "426fab9220bffc4d",
        "type": "ui_switch",
        "z": "989208b4e6f620f2",
        "name": "LNA switch",
        "label": "LNA control",
        "tooltip": "",
        "group": "9ede52c32b977504",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "54accdb3e9d0ba71",
                "da108b092ccb182e"
            ]
        ]
    },
    {
        "id": "da108b092ccb182e",
        "type": "debug",
        "z": "989208b4e6f620f2",
        "name": "switch return",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "c4eaf8a8d6143bf9",
        "type": "mqtt in",
        "z": "3d3c62a13ea8dab4",
        "name": "sensors read",
        "topic": "esp32/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "3201aefd07e4dfef"
            ]
        ]
    },
    {
        "id": "b1988ee5158e828f",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "sql return",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "15393ca36e9e6f2f",
        "type": "mysql",
        "z": "3d3c62a13ea8dab4",
        "mydb": "93995bbe7b0de3be",
        "name": "bingo database",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "b1988ee5158e828f"
            ]
        ]
    },
    {
        "id": "3201aefd07e4dfef",
        "type": "function",
        "z": "3d3c62a13ea8dab4",
        "name": "sql insert",
        "func": "var time = new Date();\n\nvar sql_insert = \"\";\nsql_insert += \"INSERT INTO sensors_read VALUE (\";\nsql_insert += time.getTime();\nsql_insert += \",\\\"\";\nsql_insert += time;\nsql_insert += \"\\\",\";\nsql_insert += msg.payload;\nsql_insert += \");\";\n\nmsg.topic = sql_insert;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "544f6058de2a1d10",
                "15393ca36e9e6f2f"
            ]
        ]
    },
    {
        "id": "544f6058de2a1d10",
        "type": "debug",
        "z": "3d3c62a13ea8dab4",
        "name": "sql command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb9dd909d9de3f3f",
        "type": "mqtt in",
        "z": "bcca7bd820d2c27d",
        "name": "esp32 debug",
        "topic": "esp32/debug",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "9bb54d766b681ac1",
                "f54930693baea2e3"
            ]
        ]
    },
    {
        "id": "9bb54d766b681ac1",
        "type": "ui_text",
        "z": "bcca7bd820d2c27d",
        "group": "1a14940ed1822988",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "dashboard console",
        "label": "console",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 220,
        "wires": [],
        "icon": "font-awesome/fa-desktop"
    },
    {
        "id": "f54930693baea2e3",
        "type": "debug",
        "z": "bcca7bd820d2c27d",
        "name": "debug input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    }
]